.examples_title{
    padding: 25px 35px 20px 35px;
    font-size:28px;
}


#examples_container{
    padding: 0px 0px 0px 35px;
    height:500px;
    
}

.example_container{
    float:left;
    
}

.example{
    padding: 0px 10px 0px 0px;
}
.example_text{
     padding: 10px 0px 10px 0px;
    text-align:center
}

/** clearfix **/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/** end clearfix **/