@charset "UTF-8";
/* CSS Document */
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=18586020-4520-4458-9423-5fd692896772");
		@font-face{
		font-family:"Avenir LT W01 35 Light";
		src:url("Fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?iefix") format("eot");}
		@font-face{
		font-family:"Avenir LT W01 35 Light";
		src:url("Fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?iefix");
		src:url("Fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),url("Fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),url("Fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
		}
		@font-face{
		font-family:"FrutigerSerifLTW01-Ligh 722272";
		src:url("Fonts/df7c43c6-6809-41b4-976b-737ac69f6014.eot?iefix") format("eot");}
		@font-face{
		font-family:"FrutigerSerifLTW01-Ligh 722272";
		src:url("Fonts/df7c43c6-6809-41b4-976b-737ac69f6014.eot?iefix");
		src:url("Fonts/a78f9507-edd1-4625-bf8e-2a706bbd88be.woff") format("woff"),url("Fonts/e93749b1-1481-48dd-ad11-ade62d402b5e.ttf") format("truetype"),url("Fonts/3e05c23d-7a98-4466-a382-403168c6552e.svg#3e05c23d-7a98-4466-a382-403168c6552e") format("svg");
		}
		@font-face{
		font-family:"FrutigerSerifLTW01-Ligh 722275";
		src:url("Fonts/a1c765a6-6538-4092-8cad-5c1d28121cc6.eot?iefix") format("eot");}
		@font-face{
		font-family:"FrutigerSerifLTW01-Ligh 722275";
		src:url("Fonts/a1c765a6-6538-4092-8cad-5c1d28121cc6.eot?iefix");
		src:url("Fonts/cafd9fae-01af-4a09-850f-d2efa95abf97.woff") format("woff"),url("Fonts/ae8bed6d-6fa1-41ba-ad1c-a88f188b231e.ttf") format("truetype"),url("Fonts/0aeec30f-17c9-4103-a1c1-f3479e16f9fb.svg#0aeec30f-17c9-4103-a1c1-f3479e16f9fb") format("svg");
		}
		@font-face{
		font-family:"LinotypeUniversW01-Thin 723610";
		src:url("Fonts/04b3c812-2234-45b5-af16-18a0f70cf1df.eot?iefix") format("eot");}
		@font-face{
		font-family:"LinotypeUniversW01-Thin 723610";
		src:url("Fonts/04b3c812-2234-45b5-af16-18a0f70cf1df.eot?iefix");
		src:url("Fonts/bc35730a-e839-4dc2-b89f-92575ffec5c1.woff") format("woff"),url("Fonts/20588565-aa56-46ce-8d7c-6b5f77df85f9.ttf") format("truetype"),url("Fonts/06090cbd-08cf-40ac-bd19-62c4bc5ed718.svg#06090cbd-08cf-40ac-bd19-62c4bc5ed718") format("svg");
		}
		@font-face{
		font-family:"LinotypeUniversW01-Medi 723679";
		src:url("Fonts/48a42ae4-2dae-4819-a76c-c4a39ba76875.eot?iefix") format("eot");}
		@font-face{
		font-family:"LinotypeUniversW01-Medi 723679";
		src:url("Fonts/48a42ae4-2dae-4819-a76c-c4a39ba76875.eot?iefix");
		src:url("Fonts/d7cf6a30-fb6a-4725-9c93-2372d9f4bb8d.woff") format("woff"),url("Fonts/fb6dd99b-78b9-4459-b787-00d3f0fc0c9f.ttf") format("truetype"),url("Fonts/4bed78d0-7a4f-46bf-b802-29f04d1d2e11.svg#4bed78d0-7a4f-46bf-b802-29f04d1d2e11") format("svg");
		}

