@charset "UTF-8";
/* CSS Document */




.my_photos { position: absolute; top: 0px; left: 0px; }

.my_container { position: relative; width: 933px; height: 340px; overflow: hidden; margin: 0px 0px 30px 0px; padding: 0px;outline:#F00 dotted thin; clear:both;}
//.marquee_photos { position: absolute; top: 0px; left: 0px; display: none; }

.my_panels{
	//display:none;
	clear:both;
}

.my_photo{
	width:933px;
	height:340px;
	float:left;
}

.test_area{
	clear:both;
	display:block;
	
}