@charset "UTF-8";
/* Global Styles */
html {
    background-color: #eeeeee;
}


*{
	margin:0px;
	padding:0px;
}


figure{
	margin:0px;
	padding:0px;
}

a{
	margin:0px;
	padding:0px;
	display:inline;
	display:block;
}

h1{
	font-size:20px;
	font-weight:normal;
}





body {
		//margin-top:0px;
		//margin-bottom:0px; 
		//text-align:center;
		//background-color:#eee;
	}
	hr{
		margin:0px;
		color:#D0D0D0;
		background-color:#DFDFDF;
		height: 1px;
		border:none;
		
		clear:both;
	}
	
	#top_line{
		color:#000;
		background-color:#000;
		height: 5px;
		border:none;
		margin-bottom:30px;
		
		clear:left;
	}
	
	
	



#Content {
		width:1024px;
		margin:0px auto;
		text-align:left;
		//padding:15px;
		
		background-color:#FFF;
		//padding-left:35px;
		//padding-right:40px;
		//padding-top:30px;
		//padding-bottom:40px;
		
		//1. Horizontal offset
		//2. Vertical offset
		//3. Blur radius
		//4. Spread raduis
		//5. Color
		-moz-box-shadow:    1px 0px 5px 4px #ccc;
		-webkit-box-shadow: 1px 0px 5px 4px #ccc;
		box-shadow:         1px 0px 5px 4px #ccc;
		color:#333;
		font-family:"Avenir LT W01 35 Light";
		//outline:#F00 dotted thin;
	}
	

	
	/*Navigation */
		nav{
			text-align:left;
			font-size: 16px;
			
			float:left;
			margin-left:310px;
			//outline:#F00 dotted thin;
			margin-bottom:50px;
		}
		a{
			text-decoration:none;
			color:rgb(51,102,204);
			//margin-left:10px;
			
			//padding-left:2px;
			margin:0px;
			padding:0px;
		}

		a:hover{
			
			color:#000;
			border:0px 0px 0px 0px;
		}

		a.active{
			
			border-left:1px solid #000;
			
			color:#309;
			padding-left:10px;
			margin-left:-11px;
			
		}
		
		#menu1
		{
			float:left;
			border-left:1px solid #CCC;
			padding-left:10px;
			color:#309;
			
		}
		
		#menu2{
			float:left;
			margin-left:40px;
			border-left:1px solid #CCC;
			padding-left:10px;
			color:#309;
		}
		
		#logo{
			float:left;
			padding:0px 0px 0px 35px;
			
		}
		
		hr{
			//clear:left;
			
			
		}
		/* End Navigation*/
		
		
	#title{
		
		font-size:60px;
		color:#309;
		margin-bottom:-5px;
		margin-top:-10px;
		padding:0px 0px 0px 0px;
		font-family:"LinotypeUniversW01-Medi 723679";
		//outline:#F00 dotted thin;
		width:300px;
		
		letter-spacing:-2px;
		//font-weight:800;
	}
	
	#sub_title{
		font-size:20px;
		color:#CCC;
		//outline:#F00 dotted thin;
		padding:0px 0px 5px 0px;
		font-family:"LinotypeUniversW01-Medi 723679";
		width:300px;
		letter-spacing:-1px;
	}	

.loading_text{
    margin:200px 0px 0px 200px;
    font-size:28px;
    
    width:400px;
}
section{
	
	//outline:#F00 dotted thin;
	padding-left:35px;
	float:left;
	width:585px;
	
	
	
}



article{
	font-family:"Avenir LT W01 35 Light";
	color:#999;
	
}
	
section #main_image{
	/* image loaded in via jQuery */
	//margin-top:20px;
	float:left;
	//outline:#F00 dotted thin;
	height:20px;
	width:933px;
	background-size:100%;
	background-position:center;
}

#main_image_section{
	height:500px;
}

/* caption and player title in slier*/
#caption{
	padding:0px 0px 0px 10px;
	font-size:20px;
	color:#FFF;
	
}
#player{
	padding:40px 0px 0px 10px;
	font-size:35px;
	font-family:"LinotypeUniversW01-Medi 723679";
	color:#FFF;
	width:280px;
	opacity:1;
	
}

/* sub box main image */	
section #mybox{
	//position:absolute;
	width:328px;
	height:500px;
	background-color:#000;
	margin-left:605px;
	
	opacity:0.6;
}


#image_text_title{
	
	//font-family:"LinotypeUniversW01-Medi 723679";
	//font-family:Georgia, "Times New Roman", Times, serif;
	//font-family:"FrutigerSerifLTW01-Ligh 722275";
	font-family:"LinotypeUniversW01-Medi 723679";
	letter-spacing:-9px;
	//font-style:italic;
	font-size:100px;
	color:#999;
	line-height:80px;
	padding-top:30px;
	
}


/* end sub box main image */


/* generic section title*/
.section_title{
	margin-top:40px;
	border-top:1px solid #999;
	//border-bottom:1px solid #E5E5E5;
	padding:3px 0px 5px 0px;
	font-size: 20px;
	
}

#welcome_title{
	width:585px;
}

/*article welcome text*/
section #welcome_text{
	width:585px;
	font-size:16px;
	padding:9px 0px 0px 0px;
	//text-align:justify;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:20px; /* Safari and Chrome */
	column-gap:40px;
	color:#999;
	line-height:21px;
	//outline:#F00 dotted thin;
}

#latest_pictures_title{
	margin-bottom:15px;
}

.latest_pictures_container{
	float:left;
	width:138px;
	height:150px;
	//background-color:#CCC;
	margin-right:10px;
	margin-bottom:10px;
	//outline:#F00 dotted thin;
}

.latest_pictures_container:nth-child(4n){
	margin-right:0px;
}



.latest_picture_img{
	width:138px;
	height:90px;
	background-size:100%;
	background-position:top;
	
}


.latest_picture_title{
	font-size:12px;
	margin-top:10px;
	padding-top:5px;
	border-top:1px solid #CCC;
	
}
.latest_picture_caption{
	padding-top:0px;
	font-size:12px;
	color:#999;
}

#sidebar{
	background-color:#F6F6F6;
	height:800px;
}

aside{
	float:left;
	width:310px;
	//outline:#F00 dotted thin;
	margin-left:20px;
	padding:0px 10px 0px 10px; 
}

aside #start_title{
	
}
aside article{
	padding-top:10px;
	//float:left;
	font-size:15px;
	//width:323px;
	//outline:#F00 dotted thin;
	color:#999;
}

.combo_box{
	padding:34px 0px 0px 0px;
	
}
#combo_player{
	width:200px;
}

#combo_match{
	width:200px;
}

#or{
	padding:10px 0px 10px 0px;
}



.my_photos { position: absolute; top: 0px; left: 0px; }

.my_container { position: relative; width: 933px; height: 500px;  overflow:hidden; margin: 0px 0px 30px 0px; padding: 0px; clear:both;}
//.marquee_photos { position: absolute; top: 0px; left: 0px; display: none; }

.my_panels{
	//display:none;
	clear:both;
}

.my_photo{
	width:933px;
	height:500px;
	float:left;
}

a.latest_link{
	
	display:inline;
}

/** clearfix **/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/** end clearfix **/
